<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iTunes Publisher</string>
	<key>CFBundleGetInfoString</key>
	<string>iTunes Publisher 4.1.1, Copyright 2004 Josh Aas</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iPHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>iTunes Publisher Help</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.aas.iTunesPublisher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunes Publisher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>iTunes Publisher 4.1.1</string>
	<key>CFBundleSignature</key>
	<string>itpl</string>
	<key>CFBundleVersion</key>
	<string>4.1.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
